h1 {
    color: green;
}
h2 {

}
row {
    float: right;
}
.social:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform-duration: 0.5s;
    -moz-transform-duration: 0.5s;
    -o-transform-duration: 0.5s;
}

#social-facebook:hover{
    color: #3B5998;
}
#social-github:hover{
    color: #d34836;
}

footer{
    position:;
    bottom:0;
    width: 100%;
}
.treasure-table{
    font-family: Lucida Sans Unicode,Verdana;
    display:flex;
    padding: 5px;
    margin: 20px;
}
.treasure-photo-detail{
    display: inline-block;
    float: left;
    padding-left: 30%;
    margin-right: 20px;
}

.panel-title-detail{
    text-align:center;
    font-family: Lucida Sans Unicode,Verdana;
    font-size: 300%;
    margin-bottom: 40px;
    margin-top: 40px;
}
.panel-title{
    font-family: Lucida Sans Unicode,Verdana;
}
.treasure-photo-index{
    padding: 10px;
    margin: 10px 10px 10px 10px;
    width: 100%;
    text-align:center;
}
.panel-title-index{
    text-align:center;
    font-family: Lucida Sans Unicode,Verdana;
    width: 100%;
}
.treasure-table-detail{
    font-family: Lucida Sans Unicode,Verdana;
    display:flex;
    padding: 5px;
    margin: 20px;
    border-left: 40px;
}
.button{
    background: #FFF;
    width: 100%
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-left: 70%;
    color: #333;
    border-radius:4px;
}
.button:hover{
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}
.add-form{
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 300px;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 12px Lucida Sans Unicode,Verdana;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5ps;
}
.pannel-title{
    font:15ps Lucida Sans Unicode,Verdana;
    padding:0px 0px 10px 40px;
    display:block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
.add-treasure-form{
    margin-left: 6%;
}
th, td{
    padding:5px;
    text-align: left;
}