{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    {% for treasure in treasures %}
    <div class="col-md-4">
        <a href="/{{ treasure.id }}/">
            <div class="treasure panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title-index">{{ treasure.name }}</h2>
                    <a class="panel-username" href="/user/{{treasure.user.username}}/">
                        <h3 class="username">by: {{ treasure.user.username }}</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <a href="/{{treasure.id}}/">
                        <div class="treasure-photo-index">
                            <img src="{{ treasure.image.url }}" height="100">
                        </div>
                    </a>
                </div>
                <button id="likes" data-id="{{treasure.id}}" class="btn btn-mini btn-danger " type="button"><span class="glyphicon">&#xe005;</span>
                    {% if treasure.likes > 0 %} {{ treasure.likes }} {% endif %}
                </button>
            </div>
        </a>
    </div>
    {% if forloop.counter|divisibleby:3 %}
        </div><div class="row">
    {% endif %}
    {% endfor %}
</div>
<div class="treausre panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> Add Treasure</h3>
    </div>
    <div class="penel-body">
        <form enctype="multipart/form-data"  action="post_url/" method="post" class="add-form">
        <table class="add-treasure-form">
            {% csrf_token %}
            {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td class="label-111">{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
            <input type="submit" value="Submit" class="button"/>
        </form>
    </div>
</div>

{% endblock %}